
body{
  font-family: "Spartan";
  font-size: 15px;
  background: url("../images/bg-pattern-top-desktop.svg"),url("../images/bg-pattern-bottom-desktop.svg");
  position: ;
  margin: 0%;
}

.container-top{
  display:flex;
  padding-top: 50px;
  padding-left: 110px;
}

.introduction{
  width: 38%;
  
}
.introduction h1{
  font-size: 50px;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}

.rating{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 20px;
}

.star{
  margin-right: 30px;
  margin-left: 30px;
}
.rates-1{
  font-weight:700;
  color: hsl(300, 43%, 22%);
  display: flex;
  border-radius: 10px;
  align-items: center;
  background-color: hsl(300, 24%, 96%);
}

.rates-2{
  font-weight:700;
  color: hsl(300, 43%, 22%);
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
  margin-left: 50px;
  width: 100%;
}

.rates-3{
  font-weight:700;
  color: hsl(300, 43%, 22%);
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: hsl(300, 24%, 96%);
  margin-left:100px;
  width: 100%;
}

.container-bottom{
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 110px;
  padding-right: 110px;
}

.review-1{
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  padding:40px;
}

.review-2{
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  margin-left:30px;
  margin-right:30px;
  position: relative;
  top:20px;
  padding:30px;
}

.review-3{
  border-radius: 10px;
  background-color: hsl(300, 43%, 22%);
  position: relative;
  top:40px;
  padding:30px;
}
.info-1{
  display:flex;
}
.info-1 img {
  border-radius: 50px;
  height:50px;
  width:50px;
}
.info-2{
  display:flex;
}

.info-2 img {
  border-radius: 50px;
  height:50px;
  width:50px;
}

.info-3{
  display:flex;
}

.info-3 img {
  border-radius: 50px;
  height:50px;
  width:50px;
}

.name-1{
  display: flex;
  flex-direction: column;
}

.real-name{
  color: hsl(0, 0%, 100%);
  margin-left: 20px;
  
}
.status{
  color: hsl(333, 80%, 67%);
  margin-left: 20px;
  padding-top: 0%;
}

.testimonial-1{
  color: hsl(0, 0%, 100%);
}

.testimonial-2{
  color: hsl(0, 0%, 100%);
}

.testimonial-3{
  color: hsl(0, 0%, 100%);
}

.attribution {
    font-size: 11px;
    text-align: center; 
    padding-top: 40px;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }
